
{% extends "base.html" %} {% load static %} {% block title %}Change Password |
NP Tailors{% endblock %} {% block body %}
<link rel="stylesheet" href="{% static 'styles/password_reset_form.css' %}">
		<!-- End Header -->
		<section class="mt-5">
			<div class="container">
				<div class="row">
					<h3 class="mb-4 col-12 d-flex justify-content-center">
						Forgot password
					</h3>
					<div class="col-12 ">
						
							<form method="post">
								{% csrf_token %}
								<div class="d-flex justify-content-center emailContainer">
									{{ form.email }}

								</div >
								{% if form.errors %}
								<div class="d-flex justify-content-center emailContainer alert alert-warning">
									{{ form.errors }}
								</div>
								{% endif %}
								<div class="d-flex justify-content-center emailContainer">
									<button type="submit">Submit</button>
								</div>
							</form>
					</div>
				</div>
			</div>
		</section>
	
		<script src="{% static 'scripts/password_reset_form.js' %}">
		</script>
		{% endblock %}
