{% extends "base.html" %} {% load static %} {% block title %}NP
Tailors{% endblock %} {% block body %}
<section>
	<div class="container">
		<div class="col mt-5">
			<div class="row m-4">
				<p>
					We've emailed you instructions for setting your password, if an account exists with the email you entered.
					You should receive them shortly.
				</p></div>
				<div class="row m-4">
				<p>
					If you don't receive an email, please make sure you've entered the address you registered with,
					and check your spam folder.
				</p>
			</div>
		</div>
	</div>
</section>		

{% endblock %}