{% extends "base.html" %} {% load static %} {% block title %}Add New Customer | NP Tailors{% endblock %} {% block body %}
<link rel="stylesheet" href="{% static 'styles/password_reset_form.css' %}">

<section class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section-title" data-aos="fade-up">
					<h2>Edit</h2>
					<p>Edit in the required measurements and name</p>
				</div>
				<form action="edit" method="post">
					{% csrf_token %}
					
					<input type="text" name="first_name" id="" placeholder="First Name" data-aos="fade-up" value="{{fn}}">
					<input type="text" name="last_name" id="" placeholder="Last Name" data-aos="fade-up" value="{{ln}}">
				<table class="table table-striped mt-3" data-aos="fade-up">
					<thead>
						<th>
							#
						</th>
						<th>
							Measurement(inches)
						</th>
						<th>
							Body Part
						</th>
					</thead>

					<tbody class="properCase">
						{% for m in Measure %}
						<tr>
							<td class="demo"></td>
							<td>
						<input type="number" step="0.01" min=0 name="{{m.className}}" class="hide" value="{{m.value}}" required onClick="this.select();"/>
							</td>
							<td>
								{{m.bodypart}}
							</td>
						</tr>
						{% endfor %}
					</tbody>
        </table>
					<input name="id" value="{{id}}" type="hidden">
        <input  name="EditNow" type="hidden" value="1">
				<input type="submit" value="Save" data-aos="fade-up">
			</form>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<div class="section-title" data-aos="fade-up">
					<h2>Reference</h2>
					<p>Measurement Reference</p>
				</div>
			</div>
			<div class="col-12 d-flex justify-content-center mt-5">
				<img
					src="{% static 'resources/Measurements.jpeg' %}"
					alt=""
					data-aos="fade-up"
					width="100%"
				/>
			</div>
		</div>
	</div>
</section>
<script src="{% static 'scripts/editProfile.js' %}"></script>

{% endblock %}
