{% extends "base.html" %} {% load static %} {% block title %}NP
Tailors{% endblock %} {% block body %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
<!-- JUMBOTRON -->

<div class="jumbotron jumbotron-fluid mt-5 pb-1">
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div
				class="row portfolio-container"
				data-aos="fade-up"
				data-aos-delay="200"
			>
				<!-- SM JUMBOTRON -->

				<div
					class="col-lg-4 col-md-6 portfolio-item filter-d filter-cc filter-b filter-hw d-md-none"
				>
					<div class="portfolio-wrap">
						<img
							src="{% static 'resources/jumbotron/1.jpg' %}"
							class="img-fluid"
							alt=""
						/>
						<div class="portfolio-info">
							<h4>Different is Beatuiful</h4>
						</div>
					</div>
				</div>

				<!-- MD JUMBOTRON -->

				<div
					class="col-lg-4 col-md-6 portfolio-item filter-d filter-cc filter-b filter-hw d-none d-md-block d-lg-none"
				>
					<div class="portfolio-wrap">
						<img
							src="{% static 'resources/jumbotron/2.jpg' %}"
							class="img-fluid"
							alt=""
						/>
						<div class="portfolio-info">
							<h4>Different is</h4>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6 portfolio-item filter-d filter-cc filter-b filter-hw d-none d-md-block d-lg-none"
				>
					<div class="portfolio-wrap">
						<img
							src="{% static 'resources/jumbotron/3.jpg' %}"
							class="img-fluid"
							alt=""
						/>
						<div class="portfolio-info">
							<h4>Beautiful</h4>
						</div>
					</div>
				</div>

				<!-- LG JUMBOTRON -->

				<div
					class="col-lg-4 col-md-6 portfolio-item filter-d filter-cc filter-b filter-hw d-none d-lg-block"
				>
					<div class="portfolio-wrap">
						<img
							src="{% static 'resources/jumbotron/1.jpg' %}"
							class="img-fluid"
							alt=""
						/>
						<div class="portfolio-info">
							<h4>Different</h4>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6 portfolio-item filter-d filter-cc filter-b filter-hw d-none d-lg-block"
				>
					<div class="portfolio-wrap">
						<img
							src="{% static 'resources/jumbotron/2.jpg' %}"
							class="img-fluid"
							alt=""
						/>
						<div class="portfolio-info">
							<h4>is</h4>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6 portfolio-item filter-d filter-cc filter-b filter-hw d-none d-lg-block"
				>
					<div class="portfolio-wrap">
						<img
							src="{% static 'resources/jumbotron/3.jpg' %}"
							class="img-fluid"
							alt=""
						/>
						<div class="portfolio-info">
							<h4>Beautiful</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Call to action, Only on mobile -->

<div class="container d-md-none">
	<div class="row">
		<div class="col-6">
			<a
				href="tel:+919898125159"
				class="col-11"
				role="button"
				type="submit"
			>
				<i class="icofont-phone"></i>
				<span> Call Now</span>
			</a>
		</div>
		<div class="col-6">
			<a
				href="https://goo.gl/maps/mg6nJcpApQb7Z8xY9"
				role="button"
				type="submit"
				class="col-11"
			>
				<i class="icofont-google-map"></i>
				<span> Step In</span>
			</a>
		</div>
	</div>
</div>

<!-- Styles for Call to action -->

<!-- MAIN SECTION -->
<main id="main">
	<!-- ======= About Section ======= -->
	<section id="about" class="about" style="padding-top: 0px;">
		<div class="container">
			<div class="row justify-content-between">
				<div
					class="col-lg-5 d-flex align-items-center justify-content-center about-img"
				>
					<img
						src="{% static 'resources/NPLogoUpdate.png' %}"
						class="img-fluid"
						alt=""
						data-aos="zoom-in"
					/>
				</div>
				<div class="col-lg-6 pt-5 pt-lg-0">
					<h3 data-aos="fade-up">
						Nanji Popat Tailors
					</h3>
					<p data-aos="fade-up" data-aos-delay="100">
						We offer tailoring services exclusive to women,
						specialized in ethnic wear. Our hardworking team of
						artisans led by Mr. Shailesh Rogheliya is ready to design
						and stitch the clothing of your dreams! Mr. Rogheliya is
						the Cutting Master with 40+ years of experience. We are
						known for our perfect fitting and staying up-to-date with
						the latest trends.
					</p>
					<div class="row">
						<div
							class="col-md-6"
							data-aos="fade-up"
							data-aos-delay="200"
						>
							<i class="bx bx-cube-alt"></i>
							<h4>We love challeges!</h4>
							<p>
								Our customers usually come up with a photo of clothing
								or a pattern they want to stitch. No matter how
								complicated it is, we make sure to deliver a result
								that satisfies them. Also, we often design clothing
								from the ground up meeting our customers’ needs.
							</p>
						</div>
						<div
							class="col-md-6"
							data-aos="fade-up"
							data-aos-delay="100"
						>
							<i class="bx bx-receipt"></i>
							<h4>Since 1928</h4>
							<p>
								NP Tailors was established by Mr. Nanjibhai Popat
								Rogheliya in the era of Lakhajiraj Jadeja, then the
								king of Rajkot. His son Mr. Chandrakant Rogheliya took
								over and made services exclusive to women in 1952.
								Current owner Mr. Shailesh Rogheliya is the son of Mr.
								Chandrakant and he is ensuring to continue the legacy
								of the business.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->

	<!-- ======= Portfolio Section ======= -->
	<section id="pattern" class="portfolio">
		<div class="container">
			<div class="section-title" data-aos="fade-up">
				<h2>Patterns and Designs</h2>
				<p>Select from latest Patterns and Designs</p>
			</div>

			<div class="row" data-aos="fade-up" data-aos-delay="100">
				<div class="col-lg-12">
					<ul id="portfolio-flters">
						<li data-filter="*" class="filter-active defaultFilter">
							All
						</li>
						<li data-filter=".filter-cc">Chaniya Choli</li>
						<li data-filter=".filter-d">Dresses</li>
						<li data-filter=".filter-hw">Hand Work</li>
						<li data-filter=".filter-b">Blouses</li>
					</ul>
				</div>
			</div>

			<div
				class="row portfolio-container"
				data-aos="fade-up"
				data-aos-delay="200"
			>
				{% for chaniyaCholi in chaniyaCholis %}
				<div class="col-lg-4 col-md-6 portfolio-item filter-cc">
					<div class="portfolio-wrap">
						<img
							src="{% static 'Images/C/C' %}{{chaniyaCholi}}.jpg"
							class="img-fluid"
							alt="C{{chaniyaCholi}}"
						/>
						<div class="portfolio-info">
							<h4>C{{chaniyaCholi}}</h4>
						</div>
					</div>
				</div>
				{% endfor %} {% for dress in dresses %}
				<div class="col-lg-4 col-md-6 portfolio-item filter-d">
					<div class="portfolio-wrap">
						<img
							src="{% static 'Images/D/D' %}{{dress}}.jpg"
							class="img-fluid"
							alt="D{{dress}}"
						/>
						<div class="portfolio-info">
							<h4>D{{dress}}</h4>
						</div>
					</div>
				</div>
				{% endfor %} {% for handWork in handWorks %}
				<div class="col-lg-4 col-md-6 portfolio-item filter-hw">
					<div class="portfolio-wrap">
						<img
							src="{% static 'Images/H/H' %}{{handWork}}.jpg"
							class="img-fluid"
							alt="H{{handWork}}"
						/>
						<div class="portfolio-info">
							<h4>H{{handWork}}</h4>
						</div>
					</div>
				</div>
				{% endfor %} {% for blouse in blouses %}
				<div class="col-lg-4 col-md-6 portfolio-item filter-b">
					<div class="portfolio-wrap">
						<img
							src="{% static 'Images/B/B' %}{{blouse}}.jpg"
							class="img-fluid"
							alt="B{{blouse}}"
						/>
						<div class="portfolio-info">
							<h4>B{{blouse}}</h4>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Portfolio Section -->

	<section id="contact" class="contact">
		<div class="container">
			<div class="section-title" data-aos="">
				<h2>Contact Us</h2>
				<p>Contact us to get started</p>
			</div>

			<div class="row">
				<div
					class="col-lg-12 d-flex align-items-stretch"
					data-aos=""
					data-aos-delay="100"
				>
					<div class="info">
						<div class="address">
							<i class="icofont-google-map"></i>
							<h4>Location:</h4>
							<p>Dharmendar Road, Rajkot - 360001, India</p>
						</div>

						<div class="email">
							<i class="icofont-envelope"></i>
							<h4>Email:</h4>
							<p>shailesh_np2000@yahoo.com</p>
						</div>

						<div class="phone">
							<i class="icofont-phone"></i>
							<h4>Call:</h4>
							<p>+91 98981 25159</p>
						</div>

						<iframe
							src="https://maps.google.com/maps?q=NP%20tailor%20and&t=&z=15&ie=UTF8&iwloc=&output=embed"
							frameborder="0"
							style="border: 0; width: 100%; height: 290px;"
							allowfullscreen
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Us Section -->
</main>

{% endblock %}
