{% extends "base.html" %} {% load static %} {% block title %}Reset
Password | NP Tailors{% endblock %} {% block body %}

<link
	rel="stylesheet"
	href="{% static 'styles/password_reset_confirm.css' %}"
/>
<link rel="stylesheet" href="{% static 'styles/signin.css' %}" />

<section id="services" class="services section-bg">
	<div class="container pt-2 mt-5">
		<div class="section-title" data-aos="fade-up">
			<h2 class="">Password</h2>
			<p>Change Password</p>
		</div>

		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<form action="resetPassword" method="post" class="rpf" data-aos="fade-up">
					{% csrf_token %}
					<div class="d-flex justify-content-center">
						{{form.old_password}}
					</div>
					<div class="d-flex justify-content-center">
						{{form.new_password1}}
					</div>
					<div class="d-flex justify-content-center">
						{{form.new_password2}}
					</div>
					{% if form.errors %}
					<div
					class="d-flex justify-content-center emailContainer"
					>
					<div class="alert alert-warning mt-4">
						{{ form.errors }}
					</div></div>
					{% endif %}

					<div class="d-flex justify-content-center">
						<input type="submit" value="Change Password" class="" />
					</div>
				</form>
				
			</div>
		</div>
	</div>
</section>

<script src="{% static 'scripts/password_reset_form.js' %}"></script>


{% endblock %}
