.alert ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 13px;
	visibility: visible;
}

.alert > ul > li {
	visibility: hidden;
}

.alert {
	padding: 0;
}

button[type="submit"],
input[type="submit"] {
	background-color: #eb5d1e;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 #eb5c1ea6;
	box-shadow: 0 10px 30px 0 #eb5c1ea6;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 40px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
	background-color: #eb5d1e;
}

button[type="submit"]:active,
input[type="submit"]:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type="email"],
input[type="number"],
input[type="text"] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 80%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
	background-color: #fff;
	border-bottom: 2px solid #eb5d1e;
}

input[type="email"]:placeholder,
input[type="number"]:placeholder,
input[type="text"]:placeholder {
	color: #cccccc;
}

input[type="number"],
input[type="text"] {
	width: 50%;
	text-align: left;
}
input[type="number"] {
	border: 2px solid #eb5c1e75;
	padding: 1px 5px;
	margin: 0;
	background-color: rgb(255, 255, 255);
}
